<div class="row">
    <div class="col-sm-4 m-4 p-3">
        <h3 style="text-align: center;">Add Tasks</h3>
        <form #form="ngForm" (ngSubmit)="onsubmit()"> 
            <div class="mb-3">
              <label class="form label">Task Name</label><br>
              <input type="text" class="form-control" name="tname" #tname="ngModel" [(ngModel)]="data1.task_name" placeholder="Enter task name">
            </div>
            <div class="mb-3">
                <label class="form label">Task Description</label><br>
                <input type="text" class="form-control" name="desc" #tname="ngModel" [(ngModel)]="data1.task_desc" placeholder="Enter Task Description">
            </div>
            <div class="mb-3">
                <label class="form label">Date</label><br>
                <input type="date" class="form-control" name="date" #tname="ngModel" [(ngModel)]="data1.date_added" placeholder="dd-mm-yyyy">
            </div> 
            <div class="mb-3">
                <input type="submit" class="form-control">
            </div> 
        </form>    
    </div>
    <div class="col-sm-6 m-4 p-3">
        <h4 class="mb-3 text-center">Tasks To Be Completed</h4>
        <div class="card ms-5 mt-5" *ngFor="let i of data" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{i.task_name}}</h5>
              <p class="card-text">{{i.task_desc}}</p>
              <p class="card-text">{{i.date_added}}</p>
              <button (click)="update(i.id)" class="btn btn-danger me-5">Update</button>
              <button (click)="delete(i.id)" class="btn btn-danger me-5">Delete</button>
            </div>
          </div>

    </div>
  </div>
